<!DOCTYPE html>
<html lang="en">

<head>
  <title>ForecaSite</title>
  <meta property="og:title" content="ForecaSite" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta charset="utf-8" />
  <meta property="twitter:card" content="summary_large_image" />

  <style data-tag="reset-style-sheet">
    html {
      line-height: 1.15;
    }

    body {
      margin: 0;
    }

    * {
      box-sizing: border-box;
      border-width: 0;
      border-style: solid;
    }

    p,
    li,
    ul,
    pre,
    div,
    h1,
    h2,
    h3,
    h4,
    h5,
    h6,
    figure,
    blockquote,
    figcaption {
      margin: 0;
      padding: 0;
    }

    button {
      background-color: transparent;
    }

    button,
    input,
    optgroup,
    select,
    textarea {
      font-family: inherit;
      font-size: 100%;
      line-height: 1.15;
      margin: 0;
    }

    button,
    select {
      text-transform: none;
    }

    button,
    [type="button"],
    [type="reset"],
    [type="submit"] {
      -webkit-appearance: button;
    }

    button::-moz-focus-inner,
    [type="button"]::-moz-focus-inner,
    [type="reset"]::-moz-focus-inner,
    [type="submit"]::-moz-focus-inner {
      border-style: none;
      padding: 0;
    }

    button:-moz-focus,
    [type="button"]:-moz-focus,
    [type="reset"]:-moz-focus,
    [type="submit"]:-moz-focus {
      outline: 1px dotted ButtonText;
    }

    a {
      color: inherit;
      text-decoration: inherit;
    }

    input {
      padding: 2px 4px;
    }

    img {
      display: block;
    }

    html {
      scroll-behavior: smooth;
    }
  </style>
  <style data-tag="default-style-sheet">
    html {
      font-family: Inter;
      font-size: 16px;
    }

    body {
      font-weight: 400;
      font-style: normal;
      text-decoration: none;
      text-transform: none;
      letter-spacing: normal;
      line-height: 1.55;
      color: var(--dl-color-gray-900);
      background-color: var(--dl-color-gray-white);
    }
  </style>
  <link rel="stylesheet"
    href="https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&amp;display=swap"
    data-tag="font" />
  <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Nanum+Pen+Script:wght@400&amp;display=swap"
    data-tag="font" />
  <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}" />
  <link href="https://cdnjs.cloudflare.com/ajax/libs/flowbite/1.6.5/flowbite.min.css" rel="stylesheet" />
  <script src="https://cdn.tailwindcss.com"></script>
  <script src="https://unpkg.com/scrollreveal"></script>
  <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css"
    integrity="sha256-p4NxAoJBhIIN+hmNHrzRCf9tD/miZyoHS5obTRR9BMY=" crossorigin="" />
  <script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js"
    integrity="sha256-20nQCchB9co0qIjJZRGuk2/Z9VM+kNiyxNV1lvTlZBo=" crossorigin=""></script>
  <script>
    ScrollReveal({ reset: false });
  </script>
  <script src="https://kit.fontawesome.com/f6cf9a2499.js" crossorigin="anonymous"></script>
  <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css"/>
  <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
</head>

<body>
  <div>
    <link href="{{ url_for('static', filename='home.css') }}" rel="stylesheet" />

    <div class="home-container" id="home-container">
      {% include 'header.html' %}
      <div class="home-main">
        <div class="home-blur-background"></div>
        <div class="home-hero">
          <div class="home-container07">
            <h1 class="home-text12 Headline1 mb-5">
              <span>Be ahead</span>
              <br />
              <span>of the weather.</span>
            </h1>
            <h2 class="text-2xl text-center">
              No more weather guessing games.
            </h2>
            <br />
            <div class="primary-button-container mt-5">
              <button type="button" onclick="scrollToDiv('home-testimonials')"
                class="primary-button-button2 bg-orange-500 hover:bg-orange-400 active:bg-orange-600 MediumLabel button">
                <span>Try It Now</span>
              </button>
            </div>
          </div>
          <img alt="image" src="{{ url_for('static', filename='public/playground_assets/RainTomorrow.png') }}"
            class="home-image02" />
        </div>
        <img alt="image" src="{{ url_for('static', filename='public/playground_assets/turquoise-circle.svg') }}"
          class="home-turquoise-cirble" />
        <img alt="image" src="{{ url_for('static', filename='public/playground_assets/orange-circle.svg') }}"
          class="home-purple-circle" />
        <img alt="image" src="{{ url_for('static', filename='public/playground_assets/orange-left.svg') }}"
          class="home-left" />
        <img alt="image" src="{{ url_for('static', filename='public/playground_assets/orange-right.svg') }}"
          class="home-right" />
      </div>
      <div class="home-clients mb-10">
        <div class="home-divider"></div>
        <img alt="image" src="{{ url_for('static', filename='public/playground_assets/wheater-channel.png') }}"
          class="home-image03 p-5" />
        <img alt="image" src="{{ url_for('static', filename='public/playground_assets/accu-wheater.png') }}"
          class="home-image04" />
        <img alt="image" src="{{ url_for('static', filename='public/playground_assets/hacktiv8-logo.webp') }}"
          class="home-image05" />
        <img alt="image" src="{{ url_for('static', filename='public/playground_assets/logo-mbkm.png') }}"
          class="home-image06 p-4" />

        <div class="home-divider1"></div>
      </div>
      <div class="home-features bg-white" id="home-features">
        <h2 class="Headline2 home-text16">Data Analysis and Model Building</h2>
        <h3 class="Subtitle2 text-xl">Uncover insights and build accurate models using our IPython Notebook.</h3>
        <button type="button" id="fullscreen-btn"
          class="text-white bg-orange-500 hover:bg-orange-800 focus:ring-4 focus:ring-orange-300 font-medium rounded-lg text-sm px-5 py-2.5 mt-3">See
          More in Fullscreen<i class="fa-solid fa-expand ml-3"></i></button>
        <div>
          <div id="ipynb"
            class="container overflow-x-auto max-h-[36rem] max-w-9xl my-12 drop-shadow-[0_15px_15px_rgba(0,0,0,0.25)]">
            <div>
              <script src="https://emgithub.com/embed-v2.js?target=https%3A%2F%2Fgithub.com%2FFafanazka%2FFinal-Project-2-Hackative-Data-Science%2Fblob%2Fmain%2FPYTN_KampusMerdeka_fp2_AchmadAzkaMuaffanSutomoPutra.ipynb&style=atom-one-light&type=ipynb&showBorder=on&showLineNumbers=on&showFileMeta=on&showFullPath=on&showCopy=on"></script>
            </div>
          </div>
        </div>
      </div>
      <div class="bg-[var(--dl-color-turquoise-100)] w-full">
        <div class="home-testimonials pt-12 sm:pt-24 md:pt-36 lg:pt-48 xl:pt-64 pb-12 sm:pb-24 md:pb-36 lg:pb-48 xl:pb-64 pl-6 sm:pl-12 md:pl-24 lg:pl-48 xl:pl-96 pr-6 sm:pr-12 md:pr-24 lg:pr-48 xl:pr-96" id="home-testimonials">
          <div id="map_hero" class="home-container08">
            <div class="home-container09">
              <img alt="image" src="{{ url_for('static', filename='public/playground_assets/cloud.svg') }}"
                class="home-image08" />
              <h1 class="home-text19 Headline2 z-2">
                Discover Rain Chances Effortlessly
              </h1>
              <h1 class="section3-subtitle w-96 xl:text-left lg:text-left md:text-left text-center">Simply enter your location and let our app do the rest. WeatherAPI.com powers our app to deliver accurate rain forecasts instantly.</h1>
            </div>
          </div>
          <div id="comparison_container" class="comparison_container" style="display: block;">
            <div id="refresh-table">

            </div>
            <div class="flex items-center justify-center" style="display: none;" id="try-route">
              <h3 class="Subtitle2 text-xl">Not sure? click this</h3>
              <button type="button" id="reset"
                class="text-white bg-red-700 hover:bg-red-800 focus:ring-4 focus:ring-red-300 font-medium rounded-lg text-sm px-4 py-1 mx-3">Reset</button>
              <h3 class="Subtitle2 text-xl">button to try again.</h3>
            </div>            
          </div>
          <div class="home-container10 my-10" id="home-container10">
            <div class="testimonials-card-container">
              <form id="form">
                <div class="mb-6">
                  <label for="location" class="block mb-2 text-sm font-medium text-gray-900 ">Select an option</label>
                  <select required name="location" id="location" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 :ring-blue-500 :border-blue-500">
                    <option value="">Choose your location</option>
                    <option value="Adelaide">Adelaide</option>
                    <option value="Albany">Albany</option>
                    <option value="Albury">Albury</option>
                    <option value="AliceSprings">Alice Springs</option>
                    <option value="BadgerysCreek">Badgerys Creek</option>
                    <option value="Ballarat">Ballarat</option>
                    <option value="Bendigo">Bendigo</option>
                    <option value="Brisbane">Brisbane</option>
                    <option value="Cairns">Cairns</option>
                    <option value="Canberra">Canberra</option>
                    <option value="Cobar">Cobar</option>
                    <option value="CoffsHarbour">Coffs Harbour</option>
                    <option value="Dartmoor">Dartmoor</option>
                    <option value="Darwin">Darwin</option>
                    <option value="GoldCoast">Gold Coast</option>
                    <option value="Hobart">Hobart</option>
                    <option value="Katherine">Katherine</option>
                    <option value="Launceston">Launceston</option>
                    <option value="Melbourne">Melbourne</option>
                    <option value="MelbourneAirport">Melbourne Airport</option>
                    <option value="Mildura">Mildura</option>
                    <option value="Moree">Moree</option>
                    <option value="MountGambier">Mount Gambier</option>
                    <option value="MountGinini">Mount Ginini</option>
                    <option value="Newcastle">Newcastle</option>
                    <option value="Nhil">Nhil</option>
                    <option value="NorahHead">Norah Head</option>
                    <option value="NorfolkIsland">Norfolk Island</option>
                    <option value="Nuriootpa">Nuriootpa</option>
                    <option value="PearceRAAF">Pearce RAAF</option>
                    <option value="Penrith">Penrith</option>
                    <option value="Perth">Perth</option>
                    <option value="PerthAirport">Perth Airport</option>
                    <option value="Portland">Portland</option>
                    <option value="Richmond">Richmond</option>
                    <option value="Sale">Sale</option>
                    <option value="SalmonGums">Salmon Gums</option>
                    <option value="Sydney">Sydney</option>
                    <option value="SydneyAirport">Sydney Airport</option>
                    <option value="Townsville">Townsville</option>
                    <option value="Tuggeranong">Tuggeranong</option>
                    <option value="Uluru">Uluru</option>
                    <option value="WaggaWagga">Wagga Wagga</option>
                    <option value="Walpole">Walpole</option>
                    <option value="Watsonia">Watsonia</option>
                    <option value="Williamtown">Williamtown</option>
                    <option value="Witchcliffe">Witchcliffe</option>
                    <option value="Wollongong">Wollongong</option>
                    <option value="Woomera">Woomera</option>
                  </select>              
                </div>
                <button type="submit" id="predict-rain"
                  class="focus:outline-none mb-6 text-white bg-orange-500 hover:bg-orange-400 active:bg-orange-600 font-medium rounded-lg text-sm px-5 py-2.5">Check for Rain</button>
              </form>
            </div>
          </div>
        </div>
      </div>
      <div class="home-wrapper">
      <div class="home-achievements">
        <div class="home-container14">
          <h2 class="home-text21">
            <span class="home-text22">Here is some stunning</span>
            <br />
            <span>facts about</span>
          </h2>
          <span class="home-text25">
            wheater, that might shock you.
          </span>
        </div>
        <div class="home-container15">
          <div class="home-container16">
            <div class="stats-card-container">
              <img alt="image" src="{{ url_for('static', filename='public/playground_assets/thunder.svg') }}"
                class="stats-card-image" />
              <div class="stats-card-container1">
                <h1 class="Headline4"><span>8.6 million+</span></h1>
                <span class="Body1"><span>Lightning strikes/day</span></span>
              </div>
            </div>
            <div class="stats-card-container">
              <img alt="image" src="{{ url_for('static', filename='public/playground_assets/sun.svg') }}"
                class="stats-card-image" />
              <div class="stats-card-container1">
                <h1 class="Headline4"><span>56.7° Celsius</span></h1>
                <span class="Body1"><span>Highest Temp</span></span>
              </div>
            </div>
          </div>

          <div class="home-container17">
            <div class="stats-card-container">
              <img alt="image" src="{{ url_for('static', filename='public/playground_assets/wind.svg') }}"
                class="stats-card-image" />
              <div class="stats-card-container1">
                <h1 class="Headline4"><span>486 km/h</span></h1>
                <span class="Body1"><span>Fastest wind speed</span></span>
              </div>
            </div>
            <div class="stats-card-container">
              <img alt="image" src="{{ url_for('static', filename='public/playground_assets/tornado.svg') }}"
                class="stats-card-image" />
              <div class="stats-card-container1">
                <h1 class="Headline4"><span>4.2 km</span></h1>
                <span class="Body1"><span>largest tornado</span></span>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="home-feature1">
        <div class="home-container182">
          <img alt="image" src="{{ url_for('static', filename='public/playground_assets/boy-dog.png') }}"
            class="home-image09 translate-x-12"/>
        </div>
        <div class="home-container19">
          <h3 class="Headline3">Sunny Skies Ahead</h3>
          <span class="home-text27 Lead1">
            Experience clear skies and abundant sunshine with our delightful weather forecast. Enjoy the perfect blend of warmth and radiance as the sun shines brightly throughout the day. Embrace the uplifting atmosphere and indulge in outdoor activities under the vibrant blue sky. Let the golden rays illuminate your path as you bask in the sun's gentle caress. It's time to embrace the joy of a sun-kissed day.
          </span>
          <div class="link-icon-button-container">
            <button class="link-icon-button-button2 button">
              <span class="MediumLabel"><span>Get Started</span></span>
              <svg viewBox="0 0 1024 1024" class="link-icon-button-icon2">
                <path
                  d="M481.835 243.499l225.835 225.835h-494.336c-23.552 0-42.667 19.115-42.667 42.667s19.115 42.667 42.667 42.667h494.336l-225.835 225.835c-16.683 16.683-16.683 43.691 0 60.331s43.691 16.683 60.331 0l298.667-298.667c3.925-3.925 7.083-8.619 9.259-13.824 4.309-10.453 4.309-22.229 0-32.683-2.091-5.035-5.163-9.728-9.259-13.824l-298.667-298.667c-16.683-16.683-43.691-16.683-60.331 0s-16.683 43.691 0 60.331z">
                </path>
              </svg>
            </button>
          </div>
        </div>
      </div>
      <div class="home-feature2">
        <div class="home-container20">
          <h2 class="Headline2 home-text28">
            Quick Wheater Forecast Tips
          </h2>
          <span class="home-text29 Lead1">
            Stay prepared with handy rain forecasts. Learn to interpret weather patterns and predict rain. Master the art of forecasting in just a few steps. Stay dry and plan ahead with these essential rain predictions.
          </span>
        </div>
        <img alt="image" src="{{ url_for('static', filename='public/playground_assets/wheater-map.png') }}"
          image_src="public/playground_assets/iphonex-1200w.png" class="home-image10" />
      </div>
      </div>
      <div class="home-cta h-96">
        <div class="home-container21">
          <div class="home-container22">
            <h2 class="Headline2 home-text30">
              Meet the team!
            </h2>
            <span class="home-text31 Lead1">
              Meet the team behind our prediction app! With expertise in data analysis, ML, and software development,
              we've crafted a powerful tool for informed decisions.
            </span>
            <span class="home-text32 Subtitle2">
              <span class="home-text33">Star the Project on GitHub</span>
            </span>
            <div class="store-banner-store-banner">
              <iframe
                src="https://ghbtns.com/github-btn.html?user=bayujo&repo=ForecaSite&type=star&count=true&size=large"
                frameborder="0" scrolling="0" width="170" height="30" title="GitHub"></iframe>
            </div>
          </div>
          <div class="home-container23">
            <div id="team" class="flex">
              <div id="profile-1" class="badge-base LI-profile-badge flex justify-center items-center" data-locale="in_ID" data-size="medium" data-theme="light" data-type="VERTICAL" data-vanity="bayujo" data-version="v1">
                <a class="badge-base__link LI-simple-link" href="https://id.linkedin.com/in/bayujo?trk=profile-badge"></a>
              </div>
              <div style="display: none;" id="profile-2" class="badge-base LI-profile-badge flex justify-center items-center" data-locale="in_ID" data-size="medium" data-theme="light" data-type="VERTICAL" data-vanity="arsen-makomi" data-version="v1">
                <a class="badge-base__link LI-simple-link" href="https://id.linkedin.com/in/arsen-makomi?trk=profile-badge"></a>
              </div>
              <div style="display: none;" id="profile-3" class="badge-base LI-profile-badge flex justify-center items-center" data-locale="in_ID" data-size="medium" data-theme="light" data-type="VERTICAL" data-vanity="achmad-azka-muaffan-s-p-8ab0a3255" data-version="v1">
                <a class="badge-base__link LI-simple-link" href="https://id.linkedin.com/in/achmad-azka-muaffan-s-p-8ab0a3255?trk=profile-badge"></a>
              </div>
            </div>            
          </div>
        </div>
      </div>
      {% include 'footer.html' %}
    </div>
  </div>
  <script src="{{ url_for('static', filename='custom-script.js') }}"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/flowbite/1.6.5/flowbite.min.js"></script>
</body>

</html>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://platform.linkedin.com/badges/js/profile.js" async defer type="text/javascript"></script>
<script src="{{ url_for('static', filename='script.js') }}"></script>